:root{
    --primary-color: #4242C7;
    --secondary-color: #ABD9D9;
    --primary-bg-color: #000235;
    --secondary-bg-color: #12134F;
    --purple-color: #7f7fc9;
    --tile-2: #b1d8f1;
    --tile-4: #81c9fc;
    --tile-8: #61aff4;
    --tile-16: #09fcfc;
    --tile-32: #03c4ff;
    --tile-64: #0671f3;
    --tile-128: #2b01fb;
    --tile-256: #6908e0;
    --tile-512: #b403e0;
    --tile-1024: #de01c1;
    --tile-2048: #ff00d4;
}

html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Microsoft YaHei", sans-serif, 'Microsoft Sans Serif','Microsoft JhengHei UI' !important;
    font-size: 18px;
    background-color: var(--primary-bg-color);
    scroll-behavior: smooth;
}

.title {
    color: var(--tile-2048);
    font-size: 60px;
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.9;
}

.puntuation {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.puntuation h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.puntuation span {
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding: 0px;
}

.btn-game {
    background-color: var(--tile-512);
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.grid-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 20px 30px;
    border-radius: 5px;
    margin-top: 20px;
}


.grid-cell {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 12vw;
    width: 12vw;
    min-width: 70px;
    min-height: 70px;
    max-width: 120px;
    max-height: 120px;
    border: solid 4px #4242c799;
    font-size: 20px;
    transition: 500ms all linear
}

.grid-cell[value="2"] {
    color: var(--tile-2);
    border: 3px solid var(--tile-2);
}

.grid-cell[value="4"] {
    color: var(--tile-4);
    border: 3px solid var(--tile-4);
}

.grid-cell[value="8"] {
    color: var(--tile-8);
    border: 3px solid var(--tile-8);
}

.grid-cell[value="16"] {
    color: var(--tile-16);
    border: 3px solid var(--tile-16);
}

.grid-cell[value="32"] {
    color: var(--tile-32);
    border: 3px solid var(--tile-32);
}

.grid-cell[value="64"] {
    color: var(--tile-64);
    border: 3px solid var(--tile-64);
}

.grid-cell[value="128"] {
    color: var(--tile-128);
    border: 3px solid var(--tile-128);
}

.grid-cell[value="256"] {
    color: var(--tile-256);
    border: 3px solid var(--tile-256);
}

.grid-cell[value="512"] {
    color: var(--tile-512);
    border: 3px solid var(--tile-512);
}

.grid-cell[value="1024"] {
    color: var(--tile-1024);
    border: 3px solid var(--tile-1024);
}

.grid-cell[value="2048"] {
    color: var(--tile-2048);
    border: 3px solid var(--tile-2048);
}



.grid-cell.show {
    animation: appear 0.5s ease;
}

.info-section p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.753);
    margin-top: 20px;
}

.info-section span {
    font-weight: bold;
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}